[Unit]
Description=HTTP Proxy

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=ec2-user
WorkingDirectory=/home/ec2-user/http_proxy
ExecStart=/home/http_proxy

[Install]
WantedBy=network-online.target
